// * {
//     outline: 1px solid red;
// }
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 991px) {
        padding: 0 25px;
    }
}