@mixin button1 {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(17, 17, 17, 0.303074);
    border-radius: 4px;
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(18);
    width: 140px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@mixin button2 {
    background-color: $orange;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: $white;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(18);
    width: 140px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}