.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 70px;
    &__logo {
        font-style: normal;
        font-weight: bold;
        font-size: rem(40);
        line-height: rem(48);
        text-transform: uppercase;
        color: $darkGrey;
    }
    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__list__item {
        margin-left: 80px;
    }
    &__list__item__link {
        text-decoration: none;
        color: $darkGrey;
        text-transform: capitalize;
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        line-height: rem(32);
        padding: 5px;
    }
    &__button {
        @include button1;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__burger {
        display: none;
        border: 1px solid rgba(17, 17, 17, 0.303074);
        border-radius: 4px;
        padding: 15px 13px;
        @media (max-width: 991px) {
            display: inline-block;
        }
    }
}